.brand-logo {
  left: 10px;
}

.user-icon {
  width: 50px;
  position: relative;
  top: 5px;
  margin-right: 5px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.card {
  margin: 10px;
  display: inline-block;
  max-width: 300px;
}

.form-panel {
  margin: 3vh 3vw;
}

.bold {
  font-weight: 500;
}

.break-word {
  overflow-wrap: break-word;
}

.loading {
  margin: auto;
  width: min-content;
}

.profile-card {
  border-radius: 5px;
  padding: 1%;
}

.post-holder {
  margin: 1vh 1vw;
  padding-left: 2vw;
  padding-right: 2vw;
}

.comment-container {
  padding: 5px 5px;
  margin-bottom: 3px;
  padding: 0.1em;
  color: gray;
}

.comment-content {
  color: black;

  border: 0.05em solid gray;
  width: fit-content;
  padding: 0.1em 1em;
  border-radius: 5%;
}

.post-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
}

.user-pic {
  max-width: 2.8em;
  max-height: 2.8em;
  margin-right: 1em;
}

img,
iframe {
  max-width: 100%;
}

.smaller-text {
  font-size: 0.8em;
}

.to-right {
  margin-left: auto;
}

.waves-effect.waves-dark-yellow .waves-ripple {
  /* The alpha value allows the text and background color
  of the button to still show through. */
  background-color: rgba(249,168,37, 0.65);
  text-transform: capitalize;
}
